*.pyc
.idea
htmlcov
.coverage
__pycache__
/plan.png
/plan.md
/plan.html
/test*.html
/test*.md
/test*.dot
/tmp/*
/colors-test.png
htmlcov
.coverage
__pycache__
/test*.html
/test*.md
/test*.dot
/tmp/*
/colors-test.png
htmlcov
.coverage
__pycache__
/plan*.png
/plan*.md
/plan*.dot
/plan*.html
/test*.html
/test*.md
/test*.dot
/tmp/*
/colors-test.png
/colors-test.dot
